<!DOCTYPE html>
{{> title}}
<body>
    {{> header}}
    <h style="color:#912">{{welcome}}</h>
    <h1>Welcome for html page using node js express framework <b style="color:red">{{pageTitle}}</b> </h1>
    <p>Hi sandeep,ready to go forword {{currentYear}}</p>
  {{> footer}}
</body>
</html>