<!DOCTYPE html>
{{> title}}
<body>
    <h>hi sandeep</h>
    {{>header}}
    <h style="color:cyan">{{welcome}}</h>
    <h1 style="color:crimson">Welcome for html page using node js express framework<b style="color:red">{{pageTitle}}</b></h1>
    <p style="color:blue">Hi sandeep,ready to go forword {{currentYear}}</p>
    {{> footer}}
    
</body>
</html>